In [92]:
def julian_day(D,M,Y):
    
    if M ==1 or M ==2:
        Y = Y - 1
        M = M + 12
        
    A = Y / 100
    print(A)
    B = A / 4
    print(B)
    C = 2 - A + B
    print(C)
    E = ( Y + 4716 ) * 365.25
    print(E)
    F = ( M + 1) * 30.6001
    print(F)
    JD = D + int(C) + int(E) + int(F) - 1524.5
    return JD

In [93]:
julian_day(2,1,2006)

20.05
5.0125
-13.037500000000001
2454845.25
428.4014

2453737.5

In [94]:
def julian_d_h(D,M,Y,H,Mi,S):
    JD = julian_day(D,M,Y)
    JD = JD +((H+(Mi/60))+(S/3600))/24
    return JD

In [95]:
julian_d_h(27,9,2006,6,20,10)

20.06
5.015
-13.044999999999998
2455210.5
306.00100000000003

2454005.7640046296

In [96]:
def jul(d,m,y):
    if m == 1 or m == 2:
        y = y - 1
        m = m + 12
    a = y / 100
    print("a = ",a)
    b = int(a) / 4
    print("b = ",b)
    c = 2 - a + b
    print("c = ",c)
    e = ( y + 4716 ) * 365.25
    print("e = ",e)
    f = ( m + 1) * 30.6001
    print("f = ",f)
    jd = d + int(c) + int(e) + int(f) - 1524.5
        
    return jd

In [97]:
jul(27,9,2006)

a =  20.06
b =  5.0
c =  -13.059999999999999
e =  2455210.5
f =  306.00100000000003

2454005.5

In [ ]:
2453767.5

In [6]:
2453762.5

2453762.5

In [29]:
# jd => tarih ödnüşümü
# jd yi bir ut = 0sa dönüştürmek için
# jd nin sonu 0.5 ile bitmeli
# aşağıdaki işlemlerin sadece tam kısımları alarak
# Z = JD + 0.5   int
# W = ( Z - 1867216.25) / 36524.25   int
# X = W / 4
# A = Z + 1 + W - X
# B = A + 1524
# C = (B-122.1) / 365.25
# D = 365.25 * C
# E = (B-D)/30.6001
# F = 30.6001 x E

# Gün = B - D - F

# Ay  E - 1 veya E - 13

# Yıl = C - 4715 : (ay şubat veya ocak ise) : ay ocak veya şubat değilse =>

In [55]:
def jd_trh(jd):
    
    z = jd + 0.5
    w = ( z - 1867216.25 ) / 36524.25
    x = int(w / 4)
    a = z + 1 + w - x
    b = int(a) + 1524
    c = int(( b - 122.1 ) / 365.25)
    d = int(c * 365.25)
    e = int(( b - d ) / 30.6001)
    f = int(e * 30.6001)
    
    gün = b - d - f
    ay = e - 1
    yıl = c - 4716
    
    tarih = gün,ay,yıl
    return tarih

In [59]:
jd_trh(2454005.5)

(27, 9, 2006)